.main-container {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin-top: 1rem;
 margin-bottom: 2rem;
}
.order-summary{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

.order-summary header{
    padding-top: 1rem;
    padding-left:1rem;
}
.order-summary hr {
   height: 2px;
   background-color: rgba(24, 142, 226, 0.66);
}

.order-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    font-size: large;
}
.order-items table{
    width: 100%;
    border-spacing: 0 15px;
}

.order-items table td{
    width:33%;
    text-align: center;
     padding: 5px;
}

.shipping-days{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkout-form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 235, 215, 0.797);
}

.checkout-form header{
    padding-top: 1rem;
    padding-left:1rem;
}
.checkout-form hr {
   height: 2px;
   background-color: rgba(24, 142, 226, 0.66);
}


@media (max-width: 450px){
    .main-container, .order-items, .shipping-days {
        flex-direction: column;
    }
}