<h1>Login</h1>
<form id="frm">
    {{!-- <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> --}}
    <h2 class="h3 mb-3 fw-normal">Please sign in</h2>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    {{!-- <p class="mt-5 mb-3 text-muted">© 2017–2022</p> --}}
  </form>
  <script>
    document.getElementById('frm').addEventListener('submit', (e)=>{
      e.preventDefault()
      console.log(e)
      fetch('/api/users/login', {
        method: 'post',
        body: JSON.stringify({
            'email': document.getElementById('email').value,
            'password': document.getElementById('password').value            
          }),
        headers:{
          'Content-Type': 'application/json'
        }
      }).then(res=>{
        return res.json()
      }).then(dt=>{
        console.log('res data', dt)
      })
    })
  </script>