
.Cart{
width: 100%;
background: #FFFDF8;
}
.Title{
width: 223px;
height: 65px;
font-family: 'Italiana';
font-style: normal;
font-weight: 400;
font-size: 300%;
line-height: 65px;
/* identical to box height */
color: #000000;
margin-bottom: 2rem;
}

.cart-header{
 margin-top: 2rem;
 margin-bottom: 1rem;
 display: flex;
 height: fit-content;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-between;
}
.cart-header h1{
    padding-left: 3rem;
    width: 1%;
    font-family: 'Italiana';
    font-size: 120%;
    color: #000000;
}
.cart-header .quantity-header{
    padding-left: 16rem;
}
.cart-header .total-header{
    padding-right: 18rem;
}

.Cart__wrapper-Titel{
width: 100%;
height: 1px;
background-color:#D4D2CC;
}

.cart-card{
    margin: 0;
    margin-top: 2rem;
    height: 9rem;
    background-color: white;
    display: flexbox;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 3px rgb(0 0 0 / 0.2);
}
.card-content{
    padding-top: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 2rem;
}

.product-info img {
    width: 30%;
    height: 6.3rem;
    object-fit: fill;
    padding-right: .7rem;
}

.delete-btn{
    padding-right: 1rem;
    color: rgb(187, 17, 17);
    border: none;
    background: none;
    font-size: 20px;
}

.btn1{

    width: 150px;
    height: 50px;
    background: #E7DCCA;
    font-family: 'Italiana';
    font-size: 100%;
    text-align: center;
    border-radius: 50px;
    }
    .btn2{
    width: 150px;
    height: 50px;
    font-family: 'Italiana';
    font-size: 100%;
    text-align: center;
    border-radius: 50px;
    }

.checkout-info{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} 
   
.shipping-days{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
 
.total-info{
   display: flex;
   flex-direction: column;
}


@media (max-width: 450px) {
    .cart-card{
        height: auto;
        flex-direction: column;
    }
    .card-content{
      flex-direction: column;
    }
    .product-info{
        flex-direction: column;
    }
    .product-info img{
        width: 50%;
        height: 6rem;
    }
  }
